/* @font-face {
  font-family: "OpenSansHebrew Bold";
  font-weight: 200;
  font-display: fallback;
  src: local("OpenSansHebrew Bold"),
    url("../assets/fonts/OpenSansHebrew-Bold.ttf") format("truetype");
} */
